{% extends 'base.html' %}

{% block title %}Create post{% endblock %}

{% block content %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" id="submit" class="btn btn-success" value="Create">
    </form>


    <!-- <script>
        CKEDITOR.on('instanceCreated', function(event) {
            let editor = event.editor;
            editor.on('change', function() {
                setTimeout(function () {
                    document.getElementById("submit").click();
                }, 2500);
            });
        });
    </script> -->

{% endblock %}
