{% extends 'base.html' %}

{% block title %}{{ post.slug }} Detail{% endblock %}

{% block content %}

    {% if request.user.id == post.user.id %}
        <a href="{% url 'post:delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'post:update' post.id %}" class="btn btn-info">Update</a>
        <a href="{% url 'post:create' %}" class="btn btn-success">Create</a>
    {% endif %}

    <p class="text-success">
        <a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"j M Y" }}
    </p>
    <hr>
    <h3>{{ post.title }}</h3>
    <p>{{ post.body|safe }}</p>
    <!-- Like btn & user can like or not & validation for likes -->
    {% if request.user.is_authenticated %}
        <a href="{% url 'post:post_like' post.id %} " 
        class="{% if user_like %}disabled{% endif %} btn btn-danger col-md-3">Like <span>{{ post.likes_count }}</span></a>
    {% endif %}
    <hr>

    <h3 class="text text-primary">Comments</h3>

    {% if request.user.is_authenticated %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" class="btn btn-success">
        </form>
    {% else %}
        <p class="alert alert-danger">Only logged in users can comment.</p>
    {% endif %}
    <hr>
    <!-- Comments -->
    <h6>{{ comment.count }} comments</h6>
        {% for c in comment %}
            <div class="card bg-dark text-light">
                <p class="card-header">{{ c.user }} |
                    <span class="text-primary">{{ c.created|timesince }}</span>
                </p>
                <p class="card-body">{{ c.body }}</p>

                <!-- Comment reply -->
                {% if request.user.is_authenticated %}
                    <form action="{% url 'post:reply_comment' post.id c.id %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ reply_form.as_p }}
                        <input type="submit" value="Reply" class="btn btn-success">
                    </form>
                {% endif %}

                {% with replies='c.rcomments.all' %}
                    {% for r in c.rcomment.all %}
                            <p class="bg-primary p-2 m-3" style="border-radius: 5px;">
                                {{ r.user }}: <br> 
                                {{ r.body }}
                            </p>
                    {% endfor %}
                {% endwith %}
                <!-- /Comment reply -->

            </div>
            <br>
        {% empty %}
            <div class="card bg-dark text-light">
                <h5 class="card-header">Don't have comment.</h5>
            </div>
        {% endfor %}
    <!-- /Comments -->

{% endblock %}
