{% extends 'base.html' %}

{% block title %}{{ user.username }} profile{% endblock %}


{% block content %}

    {% if request.user.id == user.id %}
        <a href="{% url 'post:create' %}" class="btn btn-success">Create</a>
    {% endif %}

    <!-- user profile -->
    <h2 class="text-center">{{ user.username }}</h2>
    <p>
        Email address: <span class="text-success">{{ user.email }}</span>
    </p>
    <p>
        {% if user.first_name and user.last_name %}
            Name: <span class="text-success">{{ user.first_name }}</span> <span class="text-success">{{ user.last_name }}</span>
        {% elif not user.last_name %}
            Name: <span class="text-success">{{ user.first_name }}</span>
        {% elif not user.first_name %}
            Name: <span class="text-success">{{ user.last_name }}</span>
        {% else %}
            Name: <span class="text-danger">Have not set name</span>
        {% endif %}
    </p>
    <p>Last login: <span class="text-success">{{ user.last_login }}</span></p>

    <!-- posts -->
    <div class="card">
        {% for p in posts %}
            <a href="{{ p.get_absolute_url }}" class="card-body">{{ p.body|truncatewords:8 }}</a>
        {% endfor %}
    </div>

{% endblock %}
