{% extends 'base.html' %}

{% block title %}{{ user.username }} profile{% endblock %}


{% block content %}

    <!-- BTN post create -->
    {% if request.user.id == user.id %}
        <a href="{% url 'post:create' %}" class="btn btn-success">Create</a>
        <a href="{% url 'account:edit_profile' %}" class="btn btn-info">Edit profile</a>
    {% endif %}
    <!-- /BTN post create -->

    <!-- Following/Unfollow -->
    {% if request.user.id != user.id and not is_following %}
        <a href="{% url 'account:user_follow' user.id %}" class="btn btn-success">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a href="{% url 'account:user_unfollow' user.id %}" class="btn btn-danger">Unfollow</a>
    {% endif %}
    <!-- /Following/Unfollow -->


    <!-- User profile -->
    <h2 class="text-center">{{ user.username }}</h2>
    <p>
        Email address: <span class="text-success">{{ user.email }}</span>
    </p>
    <p>
        {% if user.first_name and user.last_name %}
            Name: <span class="text-success">{{ user.first_name }}</span> <span class="text-success">{{ user.last_name }}</span>
        {% elif not user.last_name %}
            Name: <span class="text-success">{{ user.first_name }}</span>
        {% elif not user.first_name %}
            Name: <span class="text-success">{{ user.last_name }}</span>
        {% endif %}
    </p>
    <p>Last login: <span class="text-success">{{ user.last_login }}</span></p>
    <p>Age: <span class="text-success">{{ user.profile.age }}</span></p>
    <br>
    Bio:
    <div class="text-success">{{ user.profile.bio|linebreaks }}</div>
    

    <!-- /User profile -->


    <!-- User posts -->
    <div class="card">
        {% for p in posts %}
            <a href="{{ p.get_absolute_url }}" class="card-body">{{ p.title }}</a>
        {% endfor %}
    </div>
    <!-- /User posts -->

{% endblock %}
